<!DOCTYPE html>
<html>
<div class = "navbar">
    <a href = "https://c7922496df0449ad86e6b9f01b836574.vfs.cloud9.us-east-2.amazonaws.com"><h1>Express Line</h1></a>
</div>
<br>.


<h2><strong>List of restaurants</strong></h2>
<% @foods.each do |food| %>
<br>
<div class = "a">
        <img src = "http://www.chick-fil-a.com/-/media/Images/CFACOM/Default-Images/chick-fil-a-logo-vector.ashx"
        alt="Chick-Fil-A"
        width = "300", align="left">
        <p>
        <div class="title">
            <a href="description.html.erb"><button><td><%= food.name %></td></button></a>
            
        </div>
        <br>
        <strong>Location: <td><%= food.location %></td></strong><br>
        <strong>Hours: <td><%= food.hours %></td></strong><br>
        <strong>Rating: <td><%= food.rating %></td></strong><br>
        <td><%= food.desc %></td>
        <br>
        
        
        </p>
</div>
<% end %>


<footer>
    <p>&copy; 2019</p>
</footer>
</html>
>>>>>>> f228bb7fb6608bb27c85a430ffc787522c6b3ebf
