<!DOCTYPE html>
<html>
<div class = "navbar">
    <a href = "https://c7922496df0449ad86e6b9f01b836574.vfs.cloud9.us-east-2.amazonaws.com"><h1>Express Line</h1></a>
</div>
<br>.
<h1> Detailed Page</h1>
<h1><center><%= @foods.name %></center></h1>

<img src = "<%= @foods.picAdd %>"
        alt="Logo"
        width = "300", height = "150", align="left">
        
        <!-- Main content -->
        <section class = "content">
            <p>Name: <%= @foods.name %></p>
            <p>Food Location: <%= @foods.location %></p>
            <p>Hours: <%= @foods.hours %></p>
            <p>Line length <%= @foods.lineLength %></p>
            <p>Food rating: <%= @foods.rating %></p>
            <span class = "menu"><a href = "<%= @foods.menu %>">Menu</a></span>
        </section>
        <form id="newRev" action="/reviews" method="post">
            <input type="hidden" id="foodId" name="foodId" value="<%= @foods.Ident %>">
            <input type="text" id="username" name="username">
            <input type="text" id="body" name="body">
            <button type="submit" id="newRev">test</button>
      </form>
      <% @reviews.each do |review| %>
      <p> Username : <%= review.username %></p>
      <p> Body : <%= review.body %> </p>
      <% end %>
    </body>
    

</html>