<!DOCTYPE html>
<html>
<div class = "navbar">
    <a href = "index"><h1>Express Line</h1></a>
</div>


<h1><center><%= @foods.name %></center></h1>
        
        <!-- Main content -->
        <img src = "<%= @foods.picAdd %>" alt="Logo" width = "300", height = "170", align="left" class = "image">
        <section class = "content">
            
            <section class = "sideInfo">
            <p><b>Name: </b><%= @foods.name %></p>
            <p><b>Food Location:</b> <%= @foods.location %></p>
            <p><b>Hours:</b> <%= @foods.hours %></p>
            <p><b>Line length</b> <%= @foods.lineLength %></p>
            <p><b>Food rating:</b> <%= @foods.rating %></p>
            </section>
            
        </section>
        <span class = "menu"><a href = "<%= @foods.menu %>">Menu</a></span>
        <form id="newRev" action="/reviews" method="post">
            <input type="hidden" id="foodId" name="foodId" value="<%= @foods.Ident %>">
            <input type="text" id="username" name="username" value = "Enter UNCC username">
            <input type="text" id="body" name="body" value = "Comment">
            <button class = "button" type="submit" id="newRev">Submit</button>
        </form>
    
      <h1>Reviews</h1>    
      <hr>
      <% @reviews.each do |review| %>
      <p> Username : <%= review.username %></p>
      <p> Comment : <%= review.body %> </p>
      <hr>
      <% end %>
    </body>
    

</html>