<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .checked {
      color: yellow;
    }
    h3{
        font-size: 18px;
    }
    body {
        background-image: url("https://i1.wp.com/qcitymetro.com/wp-content/uploads/2018/03/uncc.jpg?fit=600%2C400&ssl=1");
        background-color: #cccccc; /* Used if the image is unavailable */
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
</head>

<div class = "navbar">
    <a href = "index"><h1>Express Line</h1></a>
</div>

<h1><center><%= @foods.name %></center></h1>
        
        <!-- Main content -->
        
        <img src = "<%= @foods.picAdd %>" alt="Logo" width = "300", height = "170", align="left" class = "image">
        <section class = "sideInfo">
            
            <section class = "sideInfo">
            <p><b>Name: </b><%= @foods.name %></p>
            <p><b>Food Location:</b> <%= @foods.location %></p>
            <p><b>Hours:</b> <%= @foods.hours %></p>
            <p><b>Menu:</b>  <span class = "menu"><a href = "<%= @foods.menu %>">Menu</a></span> </p>
            <span><b>Food rating:</b> </span>
            <!-- Stars, need to connect  this with active record to show correct amount of stars per resturant -->
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </section>
            
            <img src = "<%= @foods.lineLength %> " width ="700" height= "400" float ="right">
            
            
        
        <br>
        <br>
        <section style = "color: black;">
            <p> Line intesity based on a scale from 0(Short)-5(Long) in terms of line length</p>
            <h3> Enter New Review </h3>
        <form id="newRev" action="/reviews" method="post">
            <input type="hidden" id="foodId" name="foodId" value="<%= @foods.Ident %>">
            <input type="text" id="username" name="username" value = "Enter UNCC username">
            <br>
            <textarea type="text" id="body" name="body" value = "Comment" rows = "10" cols = "40"></textarea>
            
            <button class = "submitButton" type="submit" id="newRev">Submit</button>
        </form>
    
      <h1>Reviews</h1>
      <hr>
      <% @reviews.each do |review| %>
      <div>
          <div>
              
              <span style = "color: #B9975B;"> <b>Username :</b> <%= review.username %></span><br>
              <span style = "color: #046A38;"> <b>Comment :</b> <%= review.body %> </span>
              <hr>
              <% end %>
          </div>
      </div>
      
        </section>
        
      
    </body>
    

</html>