<!--

<!DOCTYPE html>
<html>
<div class = "navbar">
    <a href = "https://c7922496df0449ad86e6b9f01b836574.vfs.cloud9.us-east-2.amazonaws.com"><h1>Express Line</h1></a>
</div>
<br>.


<h2><strong>List of restaurants</strong></h2>
<% @foods.each do |food| %>
<br>
<div class = "a">
        <img src = "<%= food.picAdd %>"
        alt="Chick-Fil-A"
        width = "300", align="left">
        <p>
        <div class="title">
            <form id="ident" action="/reviews" method="get">
            <input type="hidden" id="foodId" name="foodId" value="<%= food.Ident %>">
            <button type="submit"><td><%= food.name %></td></button>
        </form>
            
        </div>
        <br>
        <strong>Location: <td><%= food.location %></td></strong><br>
        <strong>Hours: <td><%= food.hours %></td></strong><br>
        <strong>Rating: <td><%= food.rating %></td></strong><br>
        <td><%= food.desc %></td>
       
        
        </p>
</div>
<% end %>




<footer>
    <p>&copy; 2019</p>
</footer>
</html>
>>>>>>> f228bb7fb6608bb27c85a430ffc787522c6b3ebf
-->

<!DOCTYPE html>
<html>
<title>Express Line</title>
<meta charset="UTF-8">
<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>

<%= render 'menu' %>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px;">
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
      <% @foods.each do |food| %>
    <div class="w3-quarter">
      <img src="<%= food.picAdd %>" alt="" style="width:100%">
      <form id="ident" action="/reviews" method="get">
            <input type="hidden" id="foodId" name="foodId" value="<%= food.Ident %>">
            <button type="submit" id="foodName"><%= food.name %></button>
      </form>
      <p><%= food.desc %></p>
    </div>
    <% end %>
  </div>
</div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <hr id="about">

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">
    <h3>About Express Line</h3><br>
    <img src="" alt="" class="w3-image" style="display:block;margin:auto" width="800" height="533">
    <div class="w3-padding-32">
      <h4><b>Title</b></h4>
      <h6><i>Header</i></h6>
      <p>parapgraph</p>
    </div>
  </div>
  <hr>

<<<<<<< HEAD
  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <%= render 'footer' %>
  </footer>

=======
>>>>>>> 1bac976cc434dc490efdf2c23f6840768b099ab9
<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
